<?php
$dbAccess = array('hostname'      => 'localhost',
                  'username'      => 'phpunit',
                  'password'      => '',
                  'defaultSchema' => 'model_unit_tests');
$mysqlExecutable = '/usr/bin/mysql';
?>